@(fornecedorForm: Form[Fornecedor], ufs:Map[String, String])(implicit flash: Flash)

@import helper._ 
@import helper.twitterBootstrap._

@main("Adicionar Novo Fornecedor") { 

	<script src="@routes.Assets.at("javascripts/fornecedor/fornecedor.js")" type="text/javascript"></script>
	
	@helper.form(action = routes.FornecedoresApplication.saveNovoFornecedor()) { 
	
		<div class="container">
			<section id="fluidGridSystem">

				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Nome</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span6" id="nome" name="nome" size="50" maxlength="100">
				  </div>
				</div>
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Nome Fantasia</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span6" id="nomeFantasia" name="nomeFantasia" size="50" maxlength="100">
				  </div>
				</div>
				<div class="row-fluid">

					<div class="span3 vale-div"><span class="vale-span">CNPJ</span></div>
					<div class="span9">
					  <div class="span3 vale-div">
					  	<input type="text" class="span11" id="cnpj" name="cnpj" size="14" maxlength="14">
					  </div>
					  <div class="span1 vale-div"><span class="vale-span">CPF</span></div>
					  <div class="span4 vale-div">
					  	<input type="text" class="span7" id="cpf" name="cpf" size="11" maxlength="11">
					  </div>
					</div>
				
				</div>
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Endereço</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span6" id="endereco" name="endereco" size="50" maxlength="100">
				  </div>
				</div>
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Complemento</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span5" id="complemento" name="complemento" size="50" maxlength="100">
				  </div>
				</div>
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Bairro</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span4" id="bairro" name="bairro" size="25" maxlength="50">
				  </div>
				</div>
				<div class="row-fluid">

					<div class="span3 vale-div"><span class="vale-span">CEP</span></div>
					<div class="span9">
					  <div class="span3 vale-div">
					  	<input type="text" class="span8" id="cep" name="cep" size="10" maxlength="8">
					  </div>
					  <div class="span1 vale-div"><span class="vale-span">UF</span></div>
					  <div class="span3 vale-div">
					  	<select name="uf" id="uf" class="span7">
							@for(t <- ufs) {
						  	<option value="@t._1">@t._2</option>
							}
					  	</select>
					  	<a href="#modalListUf" role="button" class="btn" data-toggle="modal" data-remote="@routes.FornecedoresApplication.modalListagemUf" data-remote-target="#modalListUf">...</a>
					  </div>
					</div>
				
				</div>
				
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Cidade</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span6" id="cidade" name="cidade" size="25" maxlength="50">
				  </div>
				</div>
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Inscrição Estadual</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span3" id="inscricaoEstadual" name="inscricaoEstadual" size="17" maxlength="15">
				  </div>
				</div>
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Inscrição Municipal</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span3" id="inscricaoMunicipal" name="inscricaoMunicipal" size="17" maxlength="15">
				  </div>
				</div>
				<div class="row-fluid">
				  <div class="span3 vale-div"><span class="vale-span">Fone</span></div>
				  <div class="span9 vale-div">
				  	<input type="text" class="span3" id="fone" name="fone" size="14" maxlength="12">
				  </div>
				</div>
				<div class="row-fluid">
				  	<div class="span12" style="text-align:center">
						<input type="submit" class="btn primary" value='Salvar'>
					</div>
				</div>
				
			</section>
		</div>

		<div class="modal fade" id="modalListUf" tabindex="-1" role="dialog" aria-labelledby="modalListUfLabel" aria-hidden="true" style="width:900px; position:absolute; left:35%;">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		          <h4 class="modal-title">Modal title</h4>
		        </div>
		        <div class="modal-body">
		          ...
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		          <button type="button" class="btn btn-primary">Save changes</button>
		        </div>
		      </div>
		    </div>
		  </div>
		
	}
}