@(icmsForm: Form[Icms], unidadesFederativas:Map[Long, String])(implicit flash: Flash)

@import helper._

	<table class="table table-striped table-bordered table-hover table-condensed" style="width:800px">
		<thead><tr><th>#</th><th>Descrição</th><th>&nbsp;</th></tr></thead>
		@for(uf <- unidadesFederativas) {
		<tbody>
	    	<tr>
	        	<td>
	                @uf._1
	            </td>
	            <td>
	                @uf._2
	            </td>
	            <td align="center">
	            	<div align="center">
		                <div align="center">
		                    <input type="button" name="btnSelecionarUnidadeFederativaDestino" id="btnSelecionarUnidadeFederativaDestino" value="Selecionar" onclick="fnSelecionaUnidadeFederativaDestino('@uf._1')">
                		</div>
	                </div>
	            </td>
	        </tr>
	        }
        <tbody>
    </table>