@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    	<meta content="charset=utf-8">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>

	<div class="btn-group">
	  <div class="btn-group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Pessoas
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="@routes.Application.persons">Listar</a></li>
	      <li><a href="@routes.Application.addNewPerson">Criar</a></li>
	    </ul>
	  </div>
	  <div class="btn-group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Fornecedores
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="@routes.FornecedoresApplication.fornecedores">Listar</a></li>
	      <li><a href="@routes.FornecedoresApplication.addNovoFornecedor">Criar</a></li>
	    </ul>
	  </div>
	</div>
        @content
    </body>
</html>
